textarea {
	  width: 50%;
    height: 75px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 18px;
    resize: none;
    overflow-y: auto;
}

body {
  font-family: arial;
  background-color: #222;
  color: white;
}
