
body {
	background-color: #333;
	font-family: arial;
	color: white;
	text-align: left;
}

header {
	font-size: 50px;
}

.tol {
	font-size: 25px;
	margin: 2.5%;
  color: white;
}

#output {
	overflow-y: auto;
	height: 450px;

}

#user_count {
	font-size: 15px;
	font-weight: lighter;
	font-style: oblique;
	color: lightgrey;
}


textarea {
		width: 80%;
    height: 450px;
		color:  lightgrey;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #222;
    font-size: 14px;
    resize: none;
    overflow-y: auto;
		border-color: #111;
		font-weight: normal;
		font-style: Arial;
		line-height: 25px;
}


#send {
    background: #333;
		border: none;

}

#title {
	font-weight: bold;
	font-size: 25px;
}

#message {
    width: 80%;
    height: 80px;
    padding: 0px 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-color: #111;
    border-radius: 4px;
    background-color: #222;
    font-size: 18px;
    resize: none;
    overflow-y: auto;
    margin: 0 0 5px 0;
		text-align: left;
		color: white;
		position: fixed;
		bottom: 2%;
}

#handle {
	color: white;
	margin: 5px 5px 5px 1%;
	text-align: center;
	background: #47d147;
	border: none;
	border-radius: 5px;
	font-weight:300;
	font-size: 20px;

}

::placeholder {
    color: grey;
}

#feedback {
	font-style: oblique;
	color: lightgrey;
}

#sendbuttonthingnotused {
	background-color: #777;
	border-color: #222;
	height: 80px;
	color: white;
	font-size: 30.5px;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	border: 1px solid black;
	background: #7289da;

}
